<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>$title</title>
<meta http-equiv="content-type" content="text/html; charset=$encoding">
<base href="$baseurl">
<link href="$stylesheet" rel="STYLESHEET" type="text/css">
<script type="text/javascript">
function ensureFocus()
{
  if (document.getElementById("focus"))
	  {
	  document.getElementById("focus").focus();
	  }
}
</script>
</head>


<body onload="ensureFocus()">

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="64px" valign="top" rowspan="3">
      <a href="/lxr/source/">
        <!-- put local logo or links here
        <img src="/lxr/templates/logo.png" width="48px" height="93" border="0">
        -->
      </a>
    </td>
    <td>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" class="banner">$banner</td>
        </tr>
      </table>
    </td>
    <td align="right">
      $modes{
      [&nbsp;$modelink&nbsp;]<br>}
    </td>
  </tr>
  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
   <td>$atticlink</td>
   <td colspan="2">
     <table width="100%" border="0" cellpadding="0" cellspacing="0">
       $variables{
       <tr>
         <td align="right">
           $varname:
           $varlinks{
           [&nbsp;$varvalue&nbsp;]}
           <br>
         </td>
       </tr>}
     </table>
   </td>
  </tr>
</table>

<hr>
