<!--$Id: html-dir.html,v 1.7 2011/12/21 18:18:16 ajlittoz Exp $ -->

<!--				html-dir.html
		A template for displaying a directory content -->

<!-- ajlittoz <ajlittoz@users.sf.net>	-->

<!--
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
-->

<div class="dirdesc">
$description{$desctext}
</div>

<table class="dircontent">
	<thead>
		<tr class="dirheader">
			<th width="1%" class="diricon">&nbsp;</th>
			<th width="1%" class="dirname">Name</th>
			<th width="1%" class="dirsize">Size</th>
			<th width="1%" class="dirtime">Date (UTC)</th>
			<th width="90%" class="dirdesc">Description</th>
		</tr>
	</thead>
	<tbody>
 $files{
		<tr class="$dirclass">
			<td class="diricon">$iconlink</td>
			<td class="dirname">$namelink</td>
			<td class="dirsize">$filesize{$bytes}</td>
			<td class="dirtime">$modtime </td>
			<td class="dirdesc">$description{$desctext}</td>
		</tr>
}
	</tbody>
</table>
