<table border="0" class="dircontent" width="100%">
  <tr class='dirheader' valign="middle">
    <th width="1%">&nbsp;</th>
    <th width="1%" nowrap="nowrap">Name</th>
    <th width="1%" nowrap="nowrap">Size</th>
    <th width="1%" nowrap="nowrap">Date (UTC)</th>
    <th width="96%" nowrap="nowrap">Description</th>
  </tr>
  $files{
  <tr valign="middle" class="$css">
    <td nowrap="nowrap">$iconlink</td>
    <td nowrap="nowrap" class="dirname">$namelink</td>
    <td nowrap="nowrap" class="dirsize">$filesize{$bytes bytes} </td>
    <td nowrap="nowrap" class="dirtime">$modtime </td>
    <td class="dirdesc">$description{$desctext}</td>
   </tr>}
</table>
