/*
 *	$Id: lxr.css,v 1.6 2011/12/26 08:16:56 ajlittoz Exp $
 */

/*******************/
/* Font definition */
/*******************/
  body
, a.dirfile
, a.dirfolder
{ font-family: Baskerville, Times, "Times New Roman", serif
}
  .main
, .banner
, .modes
, .modes-sel
, /*.modes*/ button
/*, .modes-sel button*/
, .varlink
, .var-sel
, .dirrow1
, .dirrow2
, .lxrdesc
, select
{ font-family: "Gill Sans", Helvetica, Arial, sans
}

/*****************/
/* global styles */
/*****************/
  body
{ color: #000000
; background-color: white
}

  .error
{ text-align: center
; color: red
}

/* general link behavior */
  a
{ text-decoration: none
}
  a:hover
{ text-decoration: underline
}
  a:visited
{
}

/* side cells of tables */
  td.leftmost
{ text-align: left
}
  td.rightmost
{ text-align: right
}

/***********************/
/* headers and footers */
/***********************/
  .header
, .footer
{ text-align: center
; border: none
; width: 100%
}
  .header td
, .footer td
{ padding: 0
}

/*  .header .leftmost
,*/ .footer .rightmost
{ width: 1%
; white-space: nowrap
}

  .main
{ color: #000066
; font-size: 24pt
; font-weight: bold
}

  h1.main
{ font-size: 18pt
; color: black
}

  h2.main
{ font-size: 14pt
}

/* banner - displayed file/folder path */
  .banner
{ font-size: 14pt
; color: #339966
; text-align: center
}

  .filecontent
{ font-family: monospace
}

  .footer p
, .footer address
{ padding: 0
; margin: 0
}

/****************************************/
/* menus, "variables" */
/****************************************/
  .modes
, .varlink
{ font-size: 10pt
; color: blue
}

  a.modes
, a.varlink
{ text-decoration: none
; color: blue
}
  a.modes:visited
, a.varlink:visited
{ color: blue
}

  a.modes:hover
, a.varlink:hover 
{ background-color: #ddffcc
; text-decoration: none
}
/* currently selected mode/variable */
  span.modes-sel
, span.var-sel  /* selected one */
{ font-style: italic
; font-weight: bold
; font-size: 10pt
; background-color: #cceeff
}

  form.modes
, form.modes-sel
, form.vars
{ margin: 1px
; padding: 1px
}
  .modes-sel button
{ font-style: italic
/* ; font-size: 9pt */
; font-weight: bold
; background-color: #cceeff
}
  .modes button
{ font-style: normal
/* ; font-size: 8pt */
; color: blue
; background-color: #eeeeee
}

  .vars button
{ /*font-style: normal*/
/*;*/ font-size: 11pt
/*; color: blue
; background-color: #eeeeee*/
}
  select
{ color: blue
; background-color: white
}
  option.varlink
{ color: blue
; background-color: #eeeeee
}
  option.var-sel
{ color: black
; background-color: #eeeeee
; font-weight: bold
; font-style: italic
}

  form.diff-form
{ display: inline
}

/************************************/
/*			directory view			*/
/************************************/

/* description extracted from README(.txt) file */
  .lxrdesc
{ color: #666666
; font-style: italic
}

/* link to file or folder in the source view */
  a.dirfile
, a.dirfolder
{ font-size: 12pt
}
  a.dirfile
{ color: black
}
  a.dirfolder
{ color: navy
}

/* directory listing area */
  .dircontent
{ width: 100%
; border: none
}

  .dircontent TH
{ border-right:	 1pt solid white
; border-left:	 none
; border-top: none
; border-bottom: 1pt solid blue
; text-align: center
}

/* directory listing header */
  .dirheader
{ background-color: #aaddff
; color: #000000
}

/* directory listing data */
/* "odd" lines (three at once) */
  .dirrow1
{ background-color: #ffffff
; font-size: 10pt
}

/* "even" lines (three at once) */
  .dirrow2
{ background-color: #eeeeee
; font-size: 10pt
}

  .dirrow1 td
, .dirrow2 td
{ border-right: thin solid #999999
}

  .diricon
, .dirname
, .dirsize
, .dirtime
{ width: 1%
; white-space: nowrap
}

  td.dirname
{ text-align: left
; padding: 0 1pt 0 2pt
}

  td.dirsize
{ text-align: right
; padding: 0 1pt 0 2pt
}

  td.dirtime
{ text-align: right
; padding: 0 1pt 0 5pt
}

  td.dirdesc
{ text-align: left
; padding-left: 5pt
}

/********************************/
/*			file view			*/
/********************************/

/* the line number */
.fline
{ background-color: silver
}

/* link - the line number - underlined by default */
a.fline
{ text-decoration: none
}

/* link to other site (http, ftp and mailto) */
a.offshore {
}

/* link to the include file */
a.include
{ color: #669966
}

/* link - identifier search */
.fid
{ color: #669966
}

/* general file font etc. */
pre.file {
}

/* comments */
.comment
{ color: #808080
}

/* strings */
.string
{ color: #0000CC
}

/* reserved words */
.reserved
{ color: #800000
}

/************************************/
/*		indent. search results		*/
/*		and free-text search		*/
/************************************/

  TABLE.identdef
, TABLE.identref
, TABLE.searchref
{ border: thin solid black
; border-spacing: 0
; border-collapse: collapse
}

  .searchref TH
{ /*border-right: none
; border-left: none
; border-top: 1pt solid black
; */border/*-bottom*/: 1pt solid black
; text-align: center
; background-color: #aaddff
}

  .identdef TH
{ color: red
}

  .identdef TR
, .identref TR
/*, .searchref TR*/
{ border-top: thin solid black
; border-bottom: thin solid black
}

  .identdef TD
, .identref TD
, .searchref TD
{ border-top: thin solid black
; border-bottom: thin solid black
; border-left: thin solid black
; padding: 0 3pt
}

  TD.identfile
, TD.searchfile
, TD.searchfilevoid
{ border-right: thin solid black
}

  TD.identfile
, TD.searchfile
{ border-top: thin solid black
; border-bottom: none
}

  TD.searchfilevoid
{ border-top: none
; border-bottom: none
}
  .identfile A
, .searchfile A
{ color: gray
}

  a.identline
, a.searchline
{ text-align: right
; min-width: 2.5em
; margin: 0 1pt
; display: inline-block
; border: none
}

  TR.identline
, TR.searchline
{ text-align: left
}

/*  PRE.searchtext
{ font-family: FreeMono, monospace
}*/

  PRE.searchtext SPAN.searchtext
{ color: red
; font-weight: bold
}

/* link to "member of" */
.search-member
{ color: #669966
}

/* link to the file with reference */
.search-ref {
}

/* identifier searched (in header) */
  .identident
, .searchident
{ /*font-size: 18pt
; font-weight: bold
; */color: blue
}

/********************************/
/*			diff view			*/
/********************************/

/* reference to the file (in header) */
.diff-fref {
}

/* marks like '!!', '<<' etc. */
.diff-mark
{ color: red
}

/* background of differing lines */
  .diff-left
{ background-color: #ffccdd
}
  .diff-both
{ background-color: #ffffaa
}
  .diff-right
{ background-color: #ddffdd
}

