<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!--$Id: config-head-btn-smaller.html,v 1.2 2012/09/30 10:33:46 ajlittoz Exp $ -->

<!--				config-head.html
		A template for the top of LXR configuration page -->

<!-- ajlittoz <ajlittoz@users.sf.net>	-->

<!--
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
-->

<html>
<head>
	<title>LXR configuration</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<base href="$baseurl">
	<link rel="stylesheet" type="text/css" href="$stylesheet">
$alternatestyle{	<link rel="alternate stylesheet" type="text/css" href="$stylesheet" title="$stylename">
}	<link  rel="icon" type="image/x-icon" href="LXRimages/LXRlogo32.ico">
</head>


<body>

<table class="header compact">
	<tr>
		<td class="leftmost">
<!-- put local logo or links here -->
			<a href="/">
<img	src="LXRimages/LXRlogo64.jpeg"
		alt="Back to home page"
		style="border: none"
>
			</a>
		</td>
		<td class="treelink">
$forest{			<span class="treelink compact">
$trees{$treelink&#x200B;}</span>
}		</td>
		<td>
			<h1 class="main">LXR Configuration</h1>
		</td>
		<td class="rightmost compact">
$modes{			<form method="get" class="$modecss" action="$modeaction">
				<!--<div class="compact">-->
$urlargs{				<input type="hidden" name="$urlvar" value="$urlval">
}					<button type="submit" $modeoff>$modename</button>
				<!--</div>-->
			</form>&#x200B;
}		</td>
	</tr>
</table>

<hr>
