<!--$Id: html-ident.html,v 1.5 2013/09/04 15:22:42 ajlittoz Exp $ -->

<!--				html-ident.html
		A template to search for identifiers and
		display the results of the search	-->

<!-- ajlittoz <ajlittoz@users.sf.net>	-->

<!--
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
-->
<h1>Identifier search</h1>
<p>
Type the full name of an identifier to look for 
(a function name, variable name, typedef, etc).
<br>
Matches are case-sensitive.
Check "Definitions only" to find only definitions of the symbol
(unchecked, all references).
<br>
As a convenience,
extra <span class="identline identapprox">999</span> line numbers denote
<strong>case-insensitive</strong> occurrences
(either belonging to a case-insensitive language or differing in case).
</p>

<form method="get" action="$varbtnaction">
	<p>
  $variables
	<label>
  <b>Identifier: </b>
		<input	id="focus"
				type="text"
				name="_i"
				value="$identifier_escaped"
				size="15"
		>
	</label>
	<label>
		<input	type="checkbox"
				name="_identdefonly"
				value="1" $checked
		>
  &nbsp;&nbsp;Definitions only
	</label>
	<input type="hidden" name="_remember" value="1">
	&nbsp;&nbsp;<input type="submit" value="Find">
	</p>
</form>  
   
<h2>Results for <span class="identident">$identifier</span></h2>
$defs{	<h3>Definitions</h3>
	<table class="identdef"> 
		<tr>
			<th class="identtype">Type</th>
			<th class="identrel">Member of</th>
			<th class="identfile">File</th>
			<th class="identline">Line</th>
		</tr>
$refs{		<tr>
			<td class="identtype">$type</td>
			<td class="identrel">$rel</td>
			<td class="identfile $refinvalid">$file</td>
			<td class="identline $refinvalid">$line</td>
		</tr>
}	</table>
	<p>
$occurs declarations in $filehits files.
	</p>
$indexwarning{	<p class="error">
One or more files may contain inaccurate references.
	</p>
}}
$uses{	<h3>References:</h3>
	<table class="identref">
		<tr>
			<th class="identfile">File</th>
			<th class="identline">Line</th>
		</tr>
$refs{		<tr>
			<td class="identfile $refinvalid">$fileonce</td>
			<td class="identline $refinvalid">$lines</td>
		</tr>
}	</table>
	<p>
$occurs references in $filehits files.
	</p>
	</p>
$indexwarning{	<p class="error">
One or more files may contain inaccurate references.
	</p>
}}